table#contactsTable {
  width: 100%;
}

table tr.contactInfo {
  cursor: pointer;
}

a#actionButtons {
  margin: 1px;
}

div.contactDetails ul, div.contactDetails li {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.contactDetails li {
  line-height: 1.8em;
}

div.contactDetails h5 {
  margin: 10px 0;
  padding: 5px 0;
  background: #f4f4f4;
  padding: 10px;
}