.outer
  .middle
    .inner
      #login.row
        .large-12.columns.text-center
          //img(src='img/logo.png', alt='logo')
          form(name="loginInputForm")
            input#Text1.border-radius-top(type='email', placeholder='Email' ng-model="loginCtrl.user.email" required)
            input#Text2.no-radius(type='password', placeholder='Password' ng-model="loginCtrl.user.password" required)
            button.small.border-radius-bottom(ng-click="loginInputForm.$valid && loginCtrl.login()" style='width: 100%') Log In
        .div(ng-show="loginCtrl.error")
          span{{ loginCtrl.error.message }}