form(ng-submit="contactsCtrl.addFormSubmit(contactsCtrl.new_contact)")
    h3 Add Contact
    .row
      .large-6.columns
        label Name:
          input(type="text" ng-model="contactsCtrl.new_contact.name" placeholder="Name" required)
      .large-6.columns
        label Email:
          input(type="email" ng-model="contactsCtrl.new_contact.email" placeholder="Email")
    .row
      .large-6.columns
        label Company:
          input(type="text" ng-model="contactsCtrl.new_contact.company" placeholder="Company")
      .large-6.columns
        label Work Phone:
          input(type="text" ng-model="contactsCtrl.new_contact.work_phone" placeholder="Work Phone")
    .row
      .large-6.columns
        label Mobile Phone:
          input(type="text" ng-model="contactsCtrl.new_contact.mobile_phone" placeholder="Mobile Phone")
      .large-6.columns
        label Home Phone:
          input(type="text" ng-model="contactsCtrl.new_contact.home_phone" placeholder="Home Phone")
    .row
      .large-6.columns
        label Street Address:
          input(type="text" ng-model="contactsCtrl.new_contact.street" placeholder="Street")
      .large-6.columns
        label City:
          input(type="text" ng-model="contactsCtrl.new_contact.city" placeholder="City")
    .row
      .large-6.columns
        label State:
          input(type="text" ng-model="contactsCtrl.new_contact.state" placeholder="State")
      .large-6.columns
        label Zip:
          input(type="text" ng-model="contactsCtrl.new_contact.zip" placeholder="Zip")
    .row
      .large-6.columns
        input(type="submit" value="Add new contact").button