form
    h3 Add Contact
    .row
      .large-6.columns
        label Name:
          input(type="text" ng-model="name" placeholder="Name" required)
      .large-6.columns
        label Email:
          input(type="email" ng-model="email" placeholder="Email")
    .row
      .large-6.columns
        label Company:
          input(type="text" ng-model="company" placeholder="Company")
      .large-6.columns
        label Work Phone:
          input(type="text" ng-model="work_phone" placeholder="Work Phone")
    .row
      .large-6.columns
        label Mobile Phone:
          input(type="text" ng-model="mobile_phone" placeholder="Mobile Phone")
      .large-6.columns
        label Home Phone:
          input(type="text" ng-model="home_phone" placeholder="Home Phone")
    .row
      .large-6.columns
        label Street Address:
          input(type="text" ng-model="street" placeholder="Street")
      .large-6.columns
        label City:
          input(type="text" ng-model="city" placeholder="City")
    .row
      .large-6.columns
        label State:
          input(type="text" ng-model="state" placeholder="State")
      .large-6.columns
        label Zip:
          input(type="text" ng-model="zip" placeholder="Zip")