form
    h3 Add Contact
    .row
      .large-6.columns
        label Name:
          input(type="text" ng-model="contactsCtrl.new_contact.personalInfo.name" placeholder="Name" required)
      .large-6.columns
        label Email:
          input(type="email" ng-model="contactsCtrl.new_contact.personalInfo.email" placeholder="Email")
    .row
      .large-6.columns
        label Company:
          input(type="text" ng-model="contactsCtrl.new_contact.personalInfo.company" placeholder="Company")
      .large-6.columns
        label Work Phone:
          input(type="text" ng-model="contactsCtrl.new_contact.telephone.work_phone" placeholder="Work Phone")
    .row
      .large-6.columns
        label Mobile Phone:
          input(type="text" ng-model="contactsCtrl.new_contact.telephone.mobile_phone" placeholder="Mobile Phone")
      .large-6.columns
        label Home Phone:
          input(type="text" ng-model="contactsCtrl.new_contact.telephone.home_phone" placeholder="Home Phone")
    .row
      .large-6.columns
        label Street Address:
          input(type="text" ng-model="contactsCtrl.new_contact.address.street" placeholder="Street")
      .large-6.columns
        label City:
          input(type="text" ng-model="contactsCtrl.new_contact.address.city" placeholder="City")
    .row
      .large-6.columns
        label State:
          input(type="text" ng-model="contactsCtrl.new_contact.address.state" placeholder="State")
      .large-6.columns
        label Zip:
          input(type="text" ng-model="contactsCtrl.new_contact.address.zip" placeholder="Zip")
    .row
      .large-6.columns
        a.button(ng-click="contactsCtrl.addFormSubmit()" ng-if="!contactsCtrl.edit") Add new contact
        a.button(ng-click="contactsCtrl.editFormSubmit()" ng-if="contactsCtrl.edit") Update contact